asgiref==3.11.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
Django==6.0
djangorestframework==3.16.1
easy-pagination==0.1.0
idna==3.11
loguru==0.7.3
pillow==12.1.0
pycparser==2.23
pyOpenSSL==25.3.0
python-dotenv==1.2.1
qrcode==8.2
requests==2.32.5
sqlparse==0.5.5
urllib3==2.6.2
